/*body{
  background-color:#bbb;
}*/




.first{
box-shadow: -1px 2px 21px -5px rgba(0,0,0,0.75);
}
li {
  display:inline;
}
section:nth-child(2n+1){
  border: 2px dotted blue;
}

section li:nth-child(even){
  background-color: lime;
}

section > aside:first-of-type{
  color: blue;
}

.right{
  float:right;
}
.left{
  float:left;
}
.chill{
clear:both;
}